fastapi
uvicorn
pydantic
email-validator
python-dotenv
python-multipart
python-jose[cryptography]
bcrypt
google-genai
google-auth
requests
anyio
typing_extensions
tqdm
colorama

sqlalchemy
psycopg2-binary
redis
fastapi-cache2
jinja2

# MongoDB Drivers
motor
pymongo
dnspython
certifi
